/*----------------------------------------Background Code---------------------------------------------*/

html, 
body {
	height: 100%;
    background-color: rgb(40, 40, 40);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
                      linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
                      linear-gradient(to bottom, rgb(56, 56, 56), rgb(75, 75, 75));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

/*----------------------------------------Nav-Bar code-----------------------------------------------------*/

header {
	background-color: #303030;
    font-family: 'Play', sans-serif;
}

header::after {
	content:'';
	display:table;
	clear: both;
}

.navbarcont {
	width: 75%;
	margin: 3px;
}

header nav img {
	float: left;
	width: 150px;
	padding: 3px 0;
	margin-left: 8px;
}

header ul {
	float: right;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav li {
	display: inline-block;
	margin-right: 30px;
    padding-top:18px;
    padding-bottom: 5px;
    padding-left: 30px;
	position: relative;
}

header nav a {
	color:rgb(155, 155, 155);
	text-decoration: none;
	text-transform: uppercase;
}

header nav a:hover {
	color:#d3d3d3;
}

header nav a::before {
	content:'';
	display:block;
	height: 5px;
	width: 100%;
	background-color:#131313;
	
	position:absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 200ms;
}

header nav a:hover::before{
	width:100%
}

/*----------------------------------------Wrapper Code-------------------------------------------*/

.wrapper {
	min-height: 100%;
}

.jumbotron{
	background-image: url(../images/jumbobackground.jpg);
	background-size: cover;
}

.jumbotron h1{
	color:lightgrey;
	text-align: center;
}

.jumbotron p{
	color:lightgrey;
	text-align: center;
}

.container{
	height:230px;
}

section h1{
	color:white;
	text-align: center;
}

section p{
	color: aliceblue;
	text-align: center;
	margin-left: 175px;
	margin-right: 175px;
}

/*----Launch App tiles-----*/

.la1cont{
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 90%;
	max-height: 400px;
	max-width: 90%;
}

.la1image{
	flex: 1;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 25px;
	max-width: 300px;
	max-height: 300px;
}

.la1description{
	flex: 2;
	color: aliceblue;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 200px;
	margin-bottom: 25px;
}

.la2cont{
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 90%;
	max-height: 400px;
	max-width: 90%;
}

.la2image{
	flex: 1;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 25px;
	max-width: 300px;
	max-height: 300px;
}

.la2description{
	flex: 2;
	color: aliceblue;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 200px;
	margin-bottom: 25px;
}

.la3cont{
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 90%;
	max-height: 400px;
	max-width: 90%;
}

.la3image{
	flex: 1;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 25px;
	max-width: 300px;
	max-height: 300px;
}

.la3description{
	flex: 2;
	color: aliceblue;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 200px;
	margin-bottom: 25px;
}

/*-----------------------------------------Footer Code-------------------------------------------*/
.page-footer{
	background-color:rgb(73, 77, 77);
}

.list-unstyled a{
	color:#030303;
}

.list-inline-item{
	color:#030303;
}

.footer-copyright{
	color:#030303;
}

.footer-copyright a{
	color: #030303;
}

/*---------------------------------------Fonts for website--------------------------------*/

.display-3 {
	font-family: 'Rubik Mono One', sans-serif;
}

.display-4{
	font-family: 'Titillium Web', sans-serif;
}

.display-5{
	font-family: 'Titillium Web', sans-serif;
}

.lead{
	font-family: 'Titillium Web', sans-serif;
}

/*-----------------------------------------Contact-Form----------------------------------*/

section form{
	text-align: center;
	height: 25em;
	margin-bottom: 5em;
}

.namebox{
	background-color: rgb(73, 77, 77);
	border: 1px solid rgb(40, 40, 40);
	width: 20em;
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}

.emailbox{
	background-color: rgb(73, 77, 77);
	border: 1px solid rgb(40, 40, 40);
	margin-bottom: 1em;
	width: 20em;
	text-align: center;
}

.messagebox{
	background-color: rgb(73, 77, 77);
	border: 1px solid rgb(40, 40, 40);
	height: 10em;
	width: 20em;
	text-align: center;
}

section button{
	background-color: rgb(73, 77, 77);
	border: 1px solid rgb(40, 40, 40);
	margin-top: 1em;
	margin-bottom: 5em;
}

section textarea{
	color: #303030;
}